---
layout: default
title: Projects
---

<section class="content">
	<div class="container main-content-container">
		<div class="row">	
			<div class="span4">
			<h1>Projects</h1> 
			<h5>My work in data and web design at the intersection of tech and journalism.</h5>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Data</h3>
			</div>
		</div>
		<div class="row">
			<div class="span2">
			</div>
			<div class="span5">
				<h4 align="middle">Columbia data class</h4>
				<p style="font-size: 14px" align="middle">Projects from a course taught by <a class="list" href="http://www.stat.ucla.edu/~cocteau/">Mark Hansen</a>.</p>
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
			<div class="span5">
				<h4 align="middle">J-School Data 2014</h4>
				<p style="font-size: 14px" align="middle">Projects done collaboratively off-hours at Columbia.</p>
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 20px"/>
		<div class="row">
			<div class="span2">
				<h3>Web Design</h3>
			</div>
		</div>
		<div class="row">
			<div class="span2">
			</div>
			<div class="span5">
				<h4 align="middle">Interaction Design</h4>
				<p style="font-size: 14px" align="middle">Websites produced in a course taught by <a class="list" href="http://www.tysonevans.com/">Tyson Evans</a> and <a class="list" href="http://joshmkeller.com/">Josh Keller</a>.</p>
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
				<!--Travel
				Block-->
			</div>
			<div class="span5">
				<h4 align="middle">Personal projects</h4>
				<p style="font-size: 14px" align="middle">Work done for friends, small parts of stories, etc.</p>
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
				<!--Maya
				This site-->
			</div>
		</div>
	</div>
</section>