---
layout: default
title: Projects
---

<section class="content">
	<div class="container main-content-container">
		<div class="row">	
			<div class="span4">
			<h1>Projects</h1> 
			<h5>My work in data and web design at the intersection of tech and journalism.</h5>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h5 align="right">Columbia data class</h5>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<p align="right">Projects from a course taught by <a class="list" href="http://www.stat.ucla.edu/~cocteau/">Mark Hansen</a>.</p>
			</div>
			<div class="span2">
			</div>
			<div class="span6">
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>
		<div class="row">
			<div class="span4">
				<h5 align="right">J-School Data 2014</h5>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<p align="right">Small projects done collaboratively off-hours at Columbia.</p>
			</div>
			<div class="span2">
			</div>
			<div class="span6">
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>
			<div class="row">
			<div class="span4">
				<h5 align="justify">Interaction Design</h5>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<p align="justify">Websites produced in a course taught by <a class="list" href="http://www.tysonevans.com/">Tyson Evans</a> and <a class="list" href="http://joshmkeller.com/">Josh Keller</a>.</p>
			</div>
			<div class="span2">
			</div>
			<div class="span6">
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>
						<div class="row">
			<div class="span4">
				<h5 align="justify">Personal projects</h5>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<p align="justify">Work done for friends, small parts of stories, etc.</p>
			</div>
			<div class="span2">
			</div>
			<div class="span6">
				<ul class="unstyled">
				{% for post in site.tags.project %}
				  <div class="post_info">
				    <li>
				         <a class="list" href="{{ post.url }}">{{ post.title }}</a>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>