---
layout: default
title: Home
---

<section class="content">
	<div class="container main-content-container">
		<div class="row">
			<div class="span6">
				<h1>Welcome</h1>
		        <p>My name is Michael Mott, and I'm a near-graduate of Columbia University's Graduate School of Journalism.</p><p>There, I've been studying how to better work with data, build websites and just talk to people to become a better journalist. Please see my <a href="/stories">Stories</a> and <a href="/projects">Projects</a> pages for my work.</p>
			</div>
			<div class="span4" style="float:right">
			    <img src="/assets/img/me.png" alt="Photo of Michael Mott" width="400">
			</div>
		</div>
	<hr / width="60%" align:"middle">

<!--Inspiration and hat tip to @destroytoday for his ul/li design. See his work at http://www.destroytoday.com/-->
<!--
	<div class="row">	
		<div class="span12">
			<div class="row">	
				<div class="span5">
					<h4>Featured Articles</h2>
					<ul class="unstyled" style="padding-left: 10px">
						{% for post in site.posts['articles'] %}
						<li class="bars">
							<a href="{{ post.url }}">{{ post.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<hr width="60%"/>
				<div class="span5">
					<h4>Projects</h2>
					<ul class="unstyled" style="padding-left: 10px">
					{% for post in site.posts %}
						<li class="bars">
							<a href="{{ post.url }}">{{ post.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
-->
	<div class="row">	
		<div class="span12">
			<div class="row">	
				<div class="span12">
				<h4>Featured Articles</h4> 
				</div>
				<div class="span12" id="columns">
					<ul class= "unstyled">
					{% for post in site.categories.featured %}
						<li class="bars">
							<a class="list" href="{{ post.url }}">{{ post.title }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>

			</div>
		</div>
	</div>
</section>



<!--

			</div>
	<div class="row">	
		<div class="span5">
			<ul class="unstyled" style="padding-left: 10px">
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">Marathon Men and Women</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/stories/streetsavor">Street Savor</a>
		        </li>
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">South Bronx honors local hip-hop trailblazers</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/posts/2012-12-06-Remembering-Don-Rothman.markdown">Remembering Don Rothman</a>
		        </li>
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">Marathon Men and Women</a>
		        </li>   
		    </ul>
		</div>
<!-- Next step maybe? Using liquid for this bit. Maybe not since not wanting all.
					<ul class="unstyled" style="padding-left: 10px">
					{% for post in site.posts %}
						<li>
							<span>
								{{ post.date | date_to_string }}
							</span>
							<a href="{{ post.url }}">
								<img src="{{ post.image }}" />
								{{ post.title }}
							</a>
						</li>
						{% endfor %}
					</ul>


		<div class="span5">
			<ul class="unstyled" style="padding-left: 10px">
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">Marathon Men and Women</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/stories/streetsavor">Street Savor</a>
		        </li>
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">South Bronx honors local hip-hop trailblazers</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/stories/don">Remembering Don Rothman</a>
		        </li>
	 		 </ul>
	 	</div>
	</div>
	<hr width="60%"/>
	<div class="row">	
		<div class="span12">
		<h4>Top Projects</h2>
		</div>
	</div>
	<div class="row">	
		<div class="span5">
			<ul class="unstyled" style="padding-left: 10px">
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">Marathon Men and Women</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/stories/streetsavor">Street Savor</a>
		        </li>
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">South Bronx honors local hip-hop trailblazers</a>
		        </li>   
		    </ul>
		</div>
		<div class="span5">
			<ul class="unstyled" style="padding-left: 10px">
		        <li class="list" style="border-left: solid 4px #549BA6">
		          <a class="list" href="/stories/marathon">Marathon Men and Women</a>
		        </li>   
		        <li class="list" style="border-left: solid 4px #f5503c">
		          <a class="list" href="/stories/streetsavor">Street Savor</a>
		        </li>
	 		 </ul>
	 	</div>
	</div>
-->
</section>