---
layout: default
title: Home
---
<section class="content">
	<div class="container main-content-container">
		<div class="row">
			<div class="span6">
				<h1>Welcome</h1>
		        <p>Hi there, my name is Michael Mott and I'm a recent graduate of Columbia University's Graduate School of Journalism.</p><p>There, I studied how to better work with data, build websites and just talk to people to become a better journalist. This summer I will be working at <em>The Seattle Times</em> as a digital/data intern, where I'll be doing data journalism, building news apps and helping with all things digital.</p><p>Here, see my <a href="/stories">Stories</a> and <a href="/projects">Projects</a> pages for my work. Also, parts of this site are in construction, so please forgive me if you find a non-working link or item.</p>
			</div>
			<div class="span4" style="float:right">
			    <img src="/assets/img/me.png" class="self" alt="Photo of Michael Mott" width="400">
			</div>
			<div class="span2">
			</div>
		</div>
	<hr / width="60%" align:"middle">
	<!--Inspiration and hat tip to @destroytoday for his li design. See his at http://www.destroytoday.com/-->
	<div class="row">	
		<div class="span12">
		<h4>Featured articles</h4> 
		</div>
		<div class="span11" id="columns">
			<ul class= "unstyled">
			{% for post in site.categories.featured %}
				<li class="bars">
					<a class="list" href="{{ post.url }}">{{ post.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<hr width="60%" />
	<div class="row">	
		<div class="span11">
		<h4>Projects</h4> 
		</div>
		<div class="span12" id="columns">
			<ul class= "unstyled">
			{% for post in site.categories.projects %}
				<li class="bars">
					<a class="list" href="{{ post.url }}">{{ post.title }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45090266-1', 'mikemott.com');
  ga('send', 'pageview');

</script>