<hr/>
<div class="span3">
</div>
<div class="span7" style="padding-top: 10px; padding-bottom: 33px">
	<img src="{{ base.url }}/assets/img/me2.jpg" alt="Mike Mott" width="85" style="float:left; padding: 5px; padding-right: 10px;">
	<span style:"padding-top: 10px;"><p>Mike Mott is currently a reporter at <em>The Willits News</em>. He recently graduated from Columbia's School of Journalism and finished an internship at the <em>The Seattle Times</em> in data / news apps over the summer. See the rest of his work <a href="http://www.mikemott.com/">here</a>.</p></span>
</div>
<div class="span3">
</div>