<section class="content">
	<div class="container main-content-container">
		<div class="row" style="border-width: 1px; border-style:solid; -moz-border-radius: 15px; border-radius: 15px;">
			<div class="span1">
			</div>
			<div style="padding-left: 10px" class="span9">
				<img src="{{ base.url }}/assets/img/me2.jpg" alt="Mike Mott" width="150" style="float:left">
				<span style:"padding-left:15px"><p>Michael Mott is a recent graduate of Columbia University's Graduate School of Journalism. Currently, he's working at <em>The Seattle Times</em> as an intern in data and news apps. See more of his work <a href="http://www.mikemott.com/">here</a>.</p></span>
			</div>
			<div class="span2">
			</div>
		</div>
	</div>
</section>