<section class="content">
	<div class="container main-content-container">
		<div class="row" style="border-width: 1px; border-style:solid; -moz-border-radius: 15px; border-radius: 15px;">
			<div class="span1">
			</div>
			<div class="span9">
				<img src="{{ base.url }}/assets/img/me2.jpg" alt="Mike Mott" width="100" style="float:left; padding: 5px">
				<span style:"padding-left:15px"><p>Michael Mott is a recent graduate of Columbia's School of Journalism. Currently, he works for <em>The Seattle Times</em> as an intern in data and news apps. See more of his work <a href="http://www.mikemott.com/">here</a>.</p></span>
			</div>
			<div class="span2">
			</div>
		</div>
	</div>
</section>