    <footer align="middle">
		<a style="padding-top:75px" class="list2" href="https://github.com/mwmott/personal">Made with love on Github</a></p>
		<p><a class="list2" href="http://www.twitter.com/mikewmott">Follow @mikewmott on Twitter</a></p>
    	<p class="foot">&copy; Michael Mott 2014 | All Rights Reserved</p>
    </footer>
</body>
	<script>
		$(document).ready(function(){
		    var colors = ["#549BA6","#bab0a8","#C94A00", "#2e9ef0", "#005dba", "#499462", "#f5503c"];                
		    $('.bars').each(function() {
		        var rand = Math.floor(Math.random()*colors.length);
		        $(this).css("border-left-color", colors[rand]);
		    });
		});
	</script>
</html>