    <footer align="middle">
		<p class="foot"><a href="https://github.com/mwmott/personal">Made with <i class="fa fa-heart"></i> on Github</a> — <a style="padding-top:75px" href="http://www.twitter.com/mikewmott">Follow @mikewmott on Twitter</a></p>
	    <p class="foot">&copy; Michael Mott 2014 | All Rights Reserved</p>
    </footer>
</body>
	<script>
		$(document).ready(function(){
		    var colors = ["#549BA6","#bab0a8","#C94A00", "#2e9ef0", "#005dba", "#499462", "#f5503c"];                
		    $('.bars').each(function() {
		        var rand = Math.floor(Math.random()*colors.length);
		        $(this).css("border-left-color", colors[rand]);
		    });
		});
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45090266-1', 'mikemott.com');
	  ga('send', 'pageview');

	</script>
</html>