---
layout: default
title: Blog
---
<section class="content">
	<div class="container main-content-container">
		<div class="row">	
			<div class="span12">
			<h1>Blog</h1>
			</div>
		</div>
		<div class="row">
			<div class="span4">
			</div>
				<div class="span4">
					<ul style="padding-bottom: 20px" class="unstyled">
					{% for post in site.categories.blog %}
					  <div class="post_info">
					    <li align="middle">
					        <a class="list" href="{{ post.url }}">	
					         	<div>
					         		<h5>{{ post.title }}</h5>
					         	</div>
					         	{% if post.picture %}
					    	    	<div class="darken">{{ post.picture }}</div>
					    		{% endif %}
					         	{% if post.description %}
					    	    	<div>{{ post.description }}</div>
					    		{% endif %}		
					    	</a>
					    </li>
					    </div>
					  {% endfor %}
					</ul>
				</div>
			</div>
			
			<!--

			<div class="span4">
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:300px;}
					/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
				</style>
				<div style="float:right" id="mc_embed_signup">
				<form action="http://mikemott.us8.list-manage.com/subscribe/post?u=1f0c0078e0af692ccf3f29f0b&amp;id=7c057613f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Subscribe to Mike Mail!</label>
					<p>I send occasional updates on my life, stories and projects here.</p>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1f0c0078e0af692ccf3f29f0b_7c057613f6" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
			
			-->
		</div>
	</div>
</section>