---
layout: default
---

<section class="content">
	<div class="container main-content-container">
		<div class="row">
			<div class="span9">
				<div>
				    <h3>{{ page.title }}</h3>
				    {% if page.subtitle %}
	                    <span style="font-size:18px"><em>{{ page.subtitle }}</em></span>
	                {% endif %}
				    <p class="meta">
				        {% if page.author %}
				            <span class="author">By <a href="http://mikemott.com/archive/">{{ page.author }}</a></span>
				        {% endif %}
				        <time class="pubdate updated" datetime="{{ page.date }}" itemprop="dateCreated">Published on {{ page.date | date: "%B %d, %Y" }}</time>
				    </p>
				</div>
				{% if page.picture %}
				    <div>
				    	<div align="middle">{{ page.picture }}</div>
						<a class="caption" href="{{ page.caption }}">{{ page.image.credit }}</a>
				    </div>
				{% endif %}
				<br />
				<br />
				{{ content }}
			</div>
			<div class="span2">
			</div>
		</div>
		{% include bio.html %}
	</div>
</section>