---
layout: default
---

<section class="content">
	<div class="container main-content-container">
		<div class="row">
			<div class="span9">
				{% if page.image.feature %}
				<div align="middle" style="background-image: url('{{ site.url }}/assets/img/{{ page.image.feature }}')">
					
				    <div class="image__container">
				        <div class="entry-header-heading">
				            <h1>{{ page.title }}</h1>
				                <p class="meta">
				                    {% if page.author %}
				                        <span class="author">by {{ page.author }} &middot;</span>
				                    {% endif %}
				                    <time class="pubdate updated" datetime="{{ page.date }}" itemprop="dateCreated">{{ page.date | date: "%-d %B, %Y" }}</time>
				                </p>
				        </div>
				    </div>
				{% if page.image.credit %}
				<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div><!-- image-credit -->
				{% endif %}
				    </div><!-- entry-image -->
				{% else %}
				<div class="text__container">
				    <h1>{{ page.title }}</h1>
				    <p class="meta">
				        {% if page.author %}
				            <span class="author">by {{ page.author }} &middot;</span>
				        {% endif %}
				        <time class="pubdate updated" datetime="{{ page.date }}" itemprop="dateCreated">{{ page.date | date: "%-d %B, %Y" }}</time>
				    </p>
				</div>
				{% endif %}
				{{ content }}
			</div>
		</div>
	</div>
</section>