---
layout: default
title: Stories
---
<section class="content">
	<div class="container main-content-container">
		<div class="row">	
			<div class="span12">
			<h1>Stories</h1>
			<h5>An archive of my work as a reporter.</h5>
			</div>
		</div>

		<div class="row">
			<div class="span4">
				<h4>City on a Hill Press</h4>
				<p>Reporting done at the <a href="http://www.cityonahillpress.com">student-run weekly newspaper</a> at the University of California, Santa Cruz.</p>
			</div>
			<div class="span8">
				<ul class="unstyled" style="float:right">
					{% for post in site.tags.CHP limit: 10 %}
					    <li>
					         <a href="{{ post.url }}">{{ post.title }}</a>
					         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
					    </li>
					  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>
		<div class="row">
			<div class="span4">
				<h4>Columbia University</h4>
				<p>Stories from my time spent studying at New York's Columbia University Graduate School of Journalism.</p>
			</div>
			<div class="span8">
				<ul class="unstyled" style="float:right">
					{% for post in site.tags.columbia limit: 10 %}
					    <li>
					         <a href="{{ post.url }}">{{ post.title }}</a>
					         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
					    </li>
					  {% endfor %}
				</ul>
			</div>
		</div>
		<hr style="padding: 10px"/>
		<div class="row">
			<div class="span4">
				<h4>Additional Work</h4>
				<p>Pieces from around the web and other places I've written for.</p>
			</div>
			<div class="span8">
				  <ul class="unstyled" style="float:right">
				    <li>
				    	<p><a href="http://gokicker.com/author/michael-mott/">Kicker</a></p><p>: Here I wrote explanatory journalism on the top news of the day for the New York-based site.</p>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</section>