---
layout: default
title: Stories
---
<section class="content">
	<div class="container main-content-container">
		<div class="row">	
			<div class="span12">
			<h1>Stories</h1> 
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<h4>City on a Hill Press</h4>
				<p>Reporting done at the student-run weekly newspaper at the University of California, Santa Cruz.</p>
				<ul class="unstyled">
				{% for post in site.tags.CHP limit: 10 %}
				  <div class="post_info">
				    <li>
				         <a href="{{ post.url }}">{{ post.title }}</a>
				         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
			<div class="span3">
				<ul class="posts">
				<h4>Columbia University</h4>
				<p>Stories from my classes and time spent studying in New York's Columbia University Graduate School of Journalism.</p>
				{% for post in site.tags.columbia limit: 10 %}
				  <div class="unstyled">
				    <li>
				         <a href="{{ post.url }}">{{ post.title }}</a>
				         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
			<div class="span3">
				<ul class="unstyled">
				<h4>Additional Work</h4>
				<p>Pieces from around the web and other places I've written for.</p>
				{% for post in site.tags.other limit: 10 %}
				  <div class="post_info">
				    <li>
				         <a href="{{ post.url }}">{{ post.title }}</a>
				         <span>({{ post.date | date:"%Y-%m-%d" }})</span>
				    </li>
				    </div>
				  {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>